/* --------------------Global Styles--------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
  font-size: 1.2rem;
}

/* -----Global Headings ------*/
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.md-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* ------Global Conatiners-------- */
.container-fluid {
  padding: 7% 15%;
}

/* --------Glabal Button--------- */
.download-btn {
  margin: 6% 3% 5% 0;
}

/* Global Colour-Scheme */
.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
/* --------------------Title Styles------------------------------------*/
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* ----- Nav Bar ----- */
.navbar {
  padding: 0 0 6rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.4rem;
  font-weight: 400;
}

/* ---- Title Image ----  */
.title-image-container {
  position: relative;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* -------------------Features | Section------------------------------------ */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-icon {
  color: #cf8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* --------------- Testimonials --------------*/
#testimonials {
  background-color: #cf8172;
}

.testimonial-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/* ------------------Press -------------------*/
#press {
  background-color: #cf8172;
  padding-bottom: 2%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* ------------------Pricing Section------------- */
.price-heading {
  margin-bottom: 5%;
}

.price-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* --------------Footer Section---------------- */

.footer-icons {
  padding: 2% 5%;
}
.f-icon {
  margin: 0 1%;
}

.f-icon:hover {
  color: #ff4c68;
  cursor: pointer;
}

/* Media query */
@media (max-width: 1028px) {
  #title .container-fluid {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
